<script type="text/javascript">
var geoJson = [
<%@map.points.each do |point|%>
{
    type: 'Feature',
    "geometry": { "type": "Point", "coordinates": [<%= point.longitude %>, <%= point.latitude %>]},
    "properties": {
        "id": "<%= point.id %>",
        "image": "<%= point.image%>",
        "thumb": "<%= point.image.thumb%>",
        "marker-symbol": "star",
        "title": "<%= point.title %>"
    }
},
<%end%>
];

// Add custom popups to each using our custom feature properties
map.markerLayer.on('layeradd', function(e) {
    var marker = e.layer,
    feature = marker.feature;

    // Create custom popup content
    var popupContent =  '<a title="'+feature.properties.title+'" class="popup" href="' + feature.properties.image + '">' +
                            '<img src="' + feature.properties.thumb + '">' +
                        '   <h2>' + feature.properties.title + '</h2>' +
                        <% if current_user %>
                            '<a data-method="delete" '+
                            ' href="/maps/<%= @map.id %>/points/'+feature.properties.id+'" >deletar</a>' +    
                        <% end %>
                        '</a>';

    // http://leafletjs.com/reference.html#popup
    marker.bindPopup(popupContent,{
        closeButton: true,
        minWidth: 200
    });
});

// Add features to the map
map.markerLayer.setGeoJSON(geoJson);

$(".popup").fancybox({
    openEffect  : 'elastic',
    closeEffect : 'elastic',

    helpers : {
        title : {
            type : 'inside'
        }
    }
});
</script>


