
<div class="links row">
	


</div>

<div class="maps-home row-fluid">
	<div class="span12">
		<p>O Sistema de Informação Municipal de Saneamento é um projeto inovador que oferece a 

		cidade de Portelândia um sistema de monitoramento regular da situação do saneamento.

		Os indicadores de saneamento são uma importante ferramenta para o desenvolvimento local, 

		proposto pela Fundação Nacional da Saúde (FUNASA) com o objetivo de avaliar e traçar metas, 

		em busca de uma cidade sustentável. </p>

		<p>
		A participação dos portelandenses foi marcante e essencial durante todo o processo de 

		construção da ferramenta, trazendo contribuições de diferentes atores que viviam em diversos 

		locais e situações. Com o foco de perceber as expectativas (positivas e/ou negativas) que 

		surgiam deste cenário e construir caminhos para garantir que toda a cidade e seu entorno 

		fossem beneficiados.</p>
	</div>
	<div class="span5">
		<h2>Ultimo Mapa</h2>
		<div class="map-buttom" >
		    <div class="options">
		      <%= admin_link image_tag('pencil.png'), edit_map_path(@map), title: 'editar' %>
		      <%= link_to image_tag('eye.png'), map_path(@map), title: 'visualizar', class: 'map-view img-rounded' %>
		    </div>
		    <img src="<%= @map.image.thumb %>">
		    <spam><%= @map.name %></spam>

		</div>
		
	</div>
	<div class="span6">
		<h2>Ultimos Documentos</h2>
		<table class="table">
			<%@documents.each do |document|%>
				<tr>
					<td><%= l document.created_at, format: :short if document.created_at%></td>
					<td><%= link_to document.name, document.file.url%></td>
				</tr>
			<% end %>
		</table>
	</div>
	
</div>


<style type="text/css">

.links .span4 {
text-align: center;
}
.links a {
background: darkcyan;
display: block;
padding: 21px;
border-radius: 335px;
border: 8px solid black;
}
</style>

