<tr>
    <td><%= document.name %></td>
    <td><%= document.created_at %></td>
    <td><%= document.updated_at %></td>
    <td><a href="<%= document.file %>">Download</a></td>
  	<td><a href="/documents/<%= document.id %>">Ver</a></td>
  </tr>