<%= form_for(@survey, multipart: true) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, (t 'title') %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, (t 'description') %>
    <%= f.text_area :description %>
  </div>
   <div class="field">
    <%= f.label :estudo_id, (t 'estudo_id') %>
    <%= f.select :estudo_id , options_from_collection_for_select(Estudo.all, "id", "title"), include_blank: true  %>
  </div>

  <div class="field">
    <%= f.label :color, (t 'color') %>
    <%= f.text_field :color %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar Questionário", class: 'btn btn-primary' %>
  </div>
<% end %>
