<p id="notice"><%= notice %></p>
<div class="pull-right">
  <form id='version'>
  <%= select_tag "vers達o", options_from_collection_for_select(@survey.survey_versions, "id", "name"), name: 'survey_version', class:'select_version', :include_blank => true %>
  </form>
  <script type="text/javascript">
  $('.select_version').change(function(){
    $('#version').submit();
  });
  </script>
  <%= admin_link (t 'Edit'), edit_survey_path(@survey), class: 'btn btn-primary btn-lg' %> |
  <%= link_to (t 'Back'), surveys_path, class: 'btn btn-primary btn-lg' %> |
  <%= admin_link 'Adcionar Nova Vers達o', '#myModal', class: 'btn btn-primary btn-lg', 'data-toggle' => 'modal' %>
</div>
<h1>
  <%= @survey.title %>
</h1>

<p>
  <strong><%= (t 'description') %>:</strong>
  <%= @survey.description %>
</p>
<% if @last_survey_version %>
  <h2>Vers達o atual(v. <%= @last_survey_version.name  %>) </h2>
  <% @last_survey_version.questions.each do |question| %>
    <li class="question-li">
      <a href="javascript:void(0)"><%= question.description %></a>
      <div class="question-answers" style='display: none'>
        <table class="table table-bordered" >
        <% question.answers_count.sort_by{|k,v| v}.each do |k, v| %>
          <tr>
            <th><%= k %></th>
            <td><%= v %>%</td>
          </tr>
        <% end %>
        </table>
        <%= column_chart question.answers_count.sort_by{|k,v| v} %>
      </div>
    </li>
  <% end %>
<% end %>
<script type="text/javascript">
$('.question-li a').click(function(){
  $(this).next().toggle();
})
</script>




  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <%= form_for(@survey_version, multipart: true) do |f| %>
            <% if @survey_version.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@survey_version.errors.count, "error") %> prohibited this survey_version from being saved:</h2>

                <ul>
                <% @survey_version.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.label :name, (t 'name') %>
              <%= f.text_field :name %>
            </div>
            <div class="field">
              <%= f.hidden_field :survey_id %>
            </div>
            <div class="field">
              <%= f.label :description, (t 'description') %>
              <%= f.text_area :description %>
            </div>
            <div class="field">
              <%= f.label :file, (t 'file') %>
              <%= f.file_field :file %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary submit-form">Criar Vers達o</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script type="text/javascript">
  $('.submit-form').click(function(){
    $('.new_survey_version').submit();
    $('.modal-body').html("<h1 style='text-align:center'> Enviando...</h1>")
    $('.modal-header').remove();
    $('.modal-footer').remove();
  })
  </script>