<h1>Listing estudos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @estudos.each do |estudo| %>
      <tr>
        <td><%= estudo.title %></td>
        <td><%= estudo.description %></td>
        <td><%= estudo.image %></td>
        <td><%= link_to 'Show', estudo %></td>
        <td><%= link_to 'Edit', edit_estudo_path(estudo) %></td>
        <td><%= link_to 'Destroy', estudo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estudo', new_estudo_path %>
