<p id="notice"><%= notice %></p>


<table class="table table-hover table-bordered">
	<h1><%= @estudo %></h1>

	<tr>
	  <th><%= (t 'description') %></th>
	  <td><%= @estudo.description %></td>
	</tr>


</table>
<div class="span12">
<%= admin_link 'Adcionar Novo Documento', '#myModal', class: 'btn btn-primary ', 'data-toggle' => 'modal' %>
</div>
<% if @estudo.documents.count > 0 %>
  <fieldset>
    <legend>Documentos</legend>
    
    
  <table class="table table-bordered">

    <% @estudo.documents.each do |doc| %>
      <% if doc.file.url %>
          <tr>
            <th><%= doc.name %></th>
            <td><%= link_to(image_tag('download.png', width: 34), doc.file.url) %></td>
          </tr>
      <% end %>
    <% end %>

  </table>
  </fieldset>
<% end %>
<br>
<% if @estudo.surveys.count > 0 %>
  <fieldset>
    <legend>Questionarios</legend>
  <table class="table table-bordered">

    <% @estudo.surveys.each do |survey| %>
      <% if survey.survey_versions.count > 0 %>
        <h2>Versão atual(v. <%= survey.survey_versions.last.name  %>) </h2>
        <% survey.survey_versions.last.questions.each do |question| %>
          <li class="question-li">
            <h2 style="color: green"><%= question.description %></h2>
            <div class="question-answers" >
              <table class="table table-bordered" >
              <% question.answers_count.sort_by{|k,v| v}.each do |k, v| %>
                <tr>
                  <th><%= k %></th>
                  <td><%= v %>%</td>
                </tr>
              <% end %>
              </table>
              <%= column_chart question.answers_count.sort_by{|k,v| v} %>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>


  </table>
  </fieldset>
  
<% end %>

<% if @estudo.maps.count > 0 %>
  <fieldset>
    <legend>Mapas</legend>


    <%= render @estudo.maps %>



  </fieldset>
<% end %>
<%= admin_link (t 'Edit'), edit_estudo_path(@estudo) %> 
<%= admin_link (t 'Back'), estudos_path %>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <%= form_for(@document, multipart: true, url: documents_path, method: :post) do |f| %>
            <% if @document.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

                <ul>
                <% @document.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.label :name, (t 'name') %>
              <%= f.text_field :name %>
            </div>
            <div class="field">
              <%= f.hidden_field :estudo_id %>
            </div>
            <div class="field">
              <%= f.label :file, (t 'file') %>
              <%= f.file_field :file %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary submit-form">Criar Documento</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<script type="text/javascript">
  $('.submit-form').click(function(){
    $('form').submit();
    $('modal').hide();
  });
  </script>