<p id="notice"><%= notice %></p>

<table class="table table-hover table-bordered">
	<h1><%= @estudo.title %></h1>

	<tr>
	  <th><%= (t 'description') %></th>
	  <td><%= @estudo.description %></td>
	</tr>


</table>

<fieldset>
	<legend>Documentos</legend>
<table class="table table-bordered">
	<% @estudo.documents.each do |doc| %>
		<tr>
		  <th><%= doc.name %></th>
		  <td><%= link_to('Download', doc.file.url) %></td>
		</tr>
	<% end %>

</table>
</fieldset>
<br>
<fieldset>
	<legend>Questionarios</legend>
<table class="table table-bordered">

	<% @estudo.surveys.each do |survey| %>
		<tr>
		  <th><%= survey.title %></th>
		  <td><%= survey.description %></td>
		  <td><%= link_to('Gráficos', "/surveys/#{survey.id}") %></td>
		</tr>
	<% end %>


</table>
</fieldset>

<fieldset>
	<legend>Mapas</legend>


	<%= render @estudo.maps %>



</fieldset>
<%= admin_link (t 'Edit'), edit_estudo_path(@estudo) %> |
<%= admin_link (t 'Back'), estudos_path %>
