<script src="http://code.highcharts.com/modules/exporting.js"></script>

<%
Chartkick.options = {
 
}
%>

<script type="text/javascript">
Highcharts.setOptions({
      lang: {
            loading: 'Aguarde...',
            months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            shortMonths: ['Jan', 'Feb', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            exportButtonTitle: "Exportar",
            printButtonTitle: "Imprimir",
            rangeSelectorFrom: "De",
            rangeSelectorTo: "Até",
            rangeSelectorZoom: "Periodo",
            downloadPNG: 'Download imagem PNG',
            downloadJPEG: 'Download imagem JPEG',
            downloadPDF: 'Download documento PDF',
            downloadSVG: 'Download imagem SVG'
            // resetZoom: "Reset",
            // resetZoomTitle: "Reset,
            // thousandsSep: ".",
            // decimalPoint: ','
            },
      series: {
                 pointWidth: 20
             }

});
</script>


<div class="span12">
  <p id="notice"><%= notice %></p>
<div class="pull-right">
  <%= admin_link (t 'Edit'), edit_estudo_path(@estudo) %> 
  <%= link_to (t 'Back'), estudos_path, class: 'btn btn-primary' %>
</div>
<h1><%= @estudo %></h1>
<% unless @estudo.anexo %>
  <p>disponivel para download clicando <a href="<%= @estudo.anexo %>" title="baixe o estudo em PDF">aqui</a></p>

<% end %>
<br>  
<table class="table table-hover table-bordered">

  <tr>
    <th><%= (t 'description') %></th>
    <td><%= @estudo.description %></td>
  </tr>


</table>
<div class="span12">
  <div class="pull-right">
<%= admin_link 'Adcionar Novo Documento', '#myModal', class: 'btn btn-primary ', 'data-toggle' => 'modal' %>
</div>
</div>
<% if @estudo.documents.count > 0 %>
  <fieldset>
    <legend>Documentos</legend>
    
    
  <table class="table table-bordered">

    <% @estudo.documents.each do |doc| %>
      <% if doc.file.url %>
          <tr>
            <th><%= doc.name %></th>
            <td><%= link_to(image_tag('download.png', width: 34), doc.file.url) %></td>
          </tr>
      <% end %>
    <% end %>

  </table>
  </fieldset>
<% end %>
<br>

<% if @estudo.maps.count > 0 %>
  <fieldset>
    <legend>Mapas</legend>


    <%= render @estudo.maps %>



  </fieldset>
<% end %>
<br>
<div class="span12">
  <div class="pull-right">
  <%= admin_link 'Adcionar Novo Questionario', '/surveys/new', class: 'btn btn-primary '%>
</div>
</div>
<% if @estudo.surveys.count > 0 %>
  <fieldset>
    <legend>Questionarios</legend>
  <table class="table table-bordered">

    <% @estudo.surveys.each do |survey| %>
    <div class="pull-right">
      <%= admin_link "Editar #{survey}", edit_survey_path(survey), class: 'btn btn-primary ', style: 'margin-left: 2px' %>
    </div>
      <% if survey.survey_versions.count > 0 %>
        <h2>ultima atualização <%= l survey.created_at, format: :short  %> </h2>
        <% survey.survey_versions.last.questions.each do |question| %>
          <li class="question-li">
            <h2 style="color: green"><%= question.description %></h2>
            <div class="question-answers" >
            <%debugger%>
              <%= column_chart question.answers_count, library: {plotOptions: {
          series: {
              pointWidth: 50
          }
      }}%>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>


  </table>
  </fieldset>
  
<% end %>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <%= form_for(@document, multipart: true, url: documents_path, method: :post) do |f| %>
            <% if @document.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

                <ul>
                <% @document.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field">
              <%= f.label :name, (t 'name') %>
              <%= f.text_field :name, required: 'require' %>
            </div>
            <div class="field">
              <%= f.hidden_field :estudo_id %>
            </div>
            <div class="field">
              <%= f.label :file, (t 'file') %>
              <%= f.file_field :file, required: 'require' %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary submit-form">Criar Documento</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<script type="text/javascript">
  $('.submit-form').click(function(){
    $('form').submit();
    $('modal').hide();
  });
  </script>
</div>