<!DOCTYPE html>
<html>
<head>
  <title>Inove</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render partial:'/layouts/header' %>
	<div class="row-fluid" id="big-wrapper">
		<div class="lateral-menu span2">
			<ul>
				<% Estudo.all.each do |estudo| %>
				<a href="/estudos/<%= estudo.id%>">
					<li style="background: <%= estudo.buttom_color%>">
						<h2><%= estudo.title %></h2>
					</li>
				</a>
				<% end %>
		    </ul>
		</div>
		
		<div class="span10 " id="wrapper">
			<%= yield %>
		</div>
	</div>
	<footer id="footer">
		<div class="container">
			<div class="span3">
				<h4 style="color: white">©Inove 2013</h4>
			</div>
		</div>
        
    </div>
	</footer>

</body>
	
</html>
